services:
  db:
    image: postgres:16
    restart: always

    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: "wiseai"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"

    networks:
      - wiseai

networks:
  wiseai:
